<script src="/js/admin.js"></script>
<link rel="stylesheet" type="text/css" href="/css/home.css">

<div class="containter col-md-10">
    <div id="userControls" class="row">
        <h1>User Controls</h1>

        <form id="searchForm" class="form-inline">
            <div id="search1" class="col-md-4"></div>
            <script src="/helpers/autocompleter.js"></script>
            <script>easyIncludeAutoComplete("search1");</script>
            <button type="submit" class="btn btn-primary ">Find User</button>
        </form>
        <br>
    </div>

    <div class="row">
        <h1>Reported Posts</h1>
        <div id="reportedPosts" class="col-md-6">
        </div>
    </div>
</div>
