<link rel="stylesheet" type="text/css" href="/css/blog.css">
<script src="/js/blog_helper.js"></script>
<script src="/js/blog.js"></script>
<div class="container-fluid">
  <div class="row">
    <div id="error-unknown">
    </div>
    <div class="col-md-8 blog-header">
      <h1 class="blog-title" id="blog-title">
      <a id="blog-title-link">
      </a>
      </h1>
      <p class="lead blog-description" id="blog-description"></p>
    </div>
    <div class="col-md-4 blog-header">
      <h1 class="blog-title">
      <div class="input-group">
        <input type="text" placeholder="Search Blog" class="form-control" id="search-txt">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="search">Go!</button>
        </span>
      </div>
      <button class="btn btn-default" id="new-post-btn" hidden><span class="glyphicon glyphicon-plus"></span> New post</button>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 blog-main">
      <div id="blog-body">
      </div>
      <ul class="pagination" id="pages">
      </ul>
    </div>
  </div>
</div>