<link rel="stylesheet" type="text/css" href="/css/blog.css">
<script src="/js/blog.js"></script>

<div class="container">

  <div class="row">
    <div id="error-unknown">

    </div>
    <div class="col-md-6 blog-header">
      <h1 class="blog-title" id="blog-title"></h1>
      <p class="lead blog-description" id="blog-description"></p>
    </div>
    <div class="col-md-4 blog-header">
      <h1 class="blog-title">
        <button class="btn btn-default" id="new-post-btn" hidden><span class="glyphicon glyphicon-plus"></span> New post</button>
      </h1>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">
      <div id="blog-body">

      </div>
      <ul class="pager">
        <li id="previous"><a id="previous-page">Previous</a></li>
        <li id="next"><a id="next-page">Next</a></li>
      </ul>

    </div><!-- /.blog-main -->

  </div><!-- /.row -->

</div><!-- /.container -->
