<link href="/css/profile.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/libs/datepicker/css/datepicker.css">
<link href="/libs/jasny-bootstrap-3.1.0-dist/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
<script src="/libs/jasny-bootstrap-3.1.0-dist/js/jasny-bootstrap.min.js"></script>
<script src="/js/editprofile.js"></script>
<div class="container col-md-12">
  <div class="row">
    <div id="error-unknown">
    </div>
    <div class="well well-sm">
      <div class="row col-md-12">
        <div class="col-md-4">
          <div class="row">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive"/>
          </div>
          <div class="row col-md-12">
            <form class="form" role="form" id="image-form">
              <div class="form-group">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="image"></span>
                  <span class="fileinput-filename"></span>
                  <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                </div>
              </div>
            <div class="form-group" id="submit-btn-group">
              <button type="submit" class="btn btn-default" id="submit-btn-img">Change photo</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-8">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-md-9" id="name-div">
              <p class="form-control-static" id="name">
              </p>
            </div>
            <div class="form-group" id="edit-btn-group" hidden >
              <div class="col-md-2">
                <p class="form-control-static">
                <button class="btn btn-default" id="edit-btn"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
                </p>
              </div>
            </div>
            <div class="form-group" id="submit-btn-group" hidden >
              <div class="col-md-2">
                <button class="btn btn-default" id="submit-btn"><span class="glyphicon glyphicon-pencil"></span>Submit</button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-default" id="cancel-btn"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><i class="glyphicon glyphicon-globe"></i>Places lived:</label>
            <div class="col-md-8" id="places-lived-div">
              <p class="form-control-static" id="places-lived">
              
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><i class="glyphicon glyphicon-gift"></i>Birthday:</label>
            <div class="col-md-8" id="dob-div">
              <p class="form-control-static" id="dob">
              
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><i class="glyphicon glyphicon-bullhorn"></i>Languages:</label>
            <div class="col-md-8" id="languages-div">
              <p class="form-control-static" id="languages">
              
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><i class="fa fa-circle-o"></i>Gender:</label>
            <div class="col-md-8" id="gender-div">
              <p class="form-control-static" id="gender">
              
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"><i class="glyphicon glyphicon-envelope"></i>Email:</label>
            <div class="col-md-8" id="email-div">
              <p class="form-control-static" id="email">
              
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-12 control-label"><i class="fa fa-comment-o"></i>About:</label>
            <div class="col-md-12" id="about-div">
              <p class="form-control-static" id="about">
              
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>