<script src="/js/friends.js"></script>

<div id="add_friends">
    <h2>Add Friend:</h2>

    <form id="addForm">
        <input type="text" name="username">
        <input type="submit" value="Add">
    </form> 

</div>

<div id="current_friends">
    <h2>Current Friends:</h2>
    <ul id="friends_list"></ul>
</div>

<div id="pending_friends">
    <h2>Friend Requests:</h2>
    <ul id="requests_list"></ul>
</div>
