<script src="/js/friends_friendsTable.js"></script>

<script type="text/javascript">
    function content() {
        createFriendsTable();
        getFriends();
    }
</script>

<div id="current_friends"></div>