<script type="text/javascript" charset="utf-8" src="/libs/datatables/media/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="/libs/datatables/bootstrap.css">
<script type="text/javascript" charset="utf-8" src="/libs/datatables/bootstrap.js"></script>
<script src="/js/friends_friendsTable.js"></script>

<div class="table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable text-center" id="friendsTable">
        <thead>
            <tr>
                <th class="text-center">Photo</th>
                <th class="text-center">Name</th>
                <th class="text-center">Friends since</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>