<div id="add_friends">
    <h2>Add Friend:</h2>

    <form name="input" action="/friends" method="post">
        <input type="text" name="username" value="Username">
        <input type="submit" value="Add">
    </form> 

</div>

<div id="current_friends">
    <h2>Current Friends:</h2>
    <ul>
        {{#friendsList}}
        <li>{{.}}
            <form action="/friends/{{.}}" method="post">
                <input type="hidden" name="username" value="{{.}}">
                <input type="submit" value="Delete">
            </form>
        </li>
        {{/friendsList}}
    </ul>
</div>

<div id="pending_friends">
    <h2>Friend Requests:</h2>
    <ul>
        {{#pendingFriendsList}}
        <li>{{.}} 
            <form action="/friends" method="post">
                <input type="hidden" name="username" value="{{.}}">
                <input type="submit" value="Accept">
            </form>
            <form action="/friends/{{.}}" method="post">
                <input type="hidden" name="username" value="{{.}}">
                <input type="submit" value="Decline">
            </form>
        </li>
        {{/pendingFriendsList}}
    </ul>
</div>
