<section class="col-xs-12 col-sm-6 col-md-12">
    <article class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <a href="#" class="thumbnail"><img src="{{imgURL}}" style="max-height:120px;"/></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            <ul class="meta-search">
                <li><i class="glyphicon glyphicon-calendar"></i><span>{{date}}</span></li>
                <li><i class="glyphicon glyphicon-time"></i><span>{{time}}</span></li>
                <li><i class="glyphicon glyphicon-tags"></i><span>{{tag}}</span></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
            <h3><a href="{{titleLink}}" title="">{{title}}</a></h3>
            <p>{{text}}</p>                        
            <!--<span class="plus"><a href="#"><i class="glyphicon glyphicon-plus"></i></a></span>-->
        </div>
        <span class="clearfix borda"></span>
    </article>
</section>