<div id="error"> </div>
<form id="login_form">
    <label for="username">Username</label> <br>
    <input type="text" name="username" id="username"> <br>
    <label for="password">Password</label><br>
    <input name="password" type="password" id="password"></input><br>
    <input type="submit" value="Submit"/>
</form>

<script src="../js/login.js"></script>