<form method="post" action="./login" >
    <table border="1" >
        <label for="username">Username</label> <br>
        <input type="text" name="username" id="username"> <br>
        <label for="password">Password</label><br>
        <input name="password" type="password" id="password"></input><br>
        <input type="submit" value="Submit"/>
    </table>
</form>