<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		
		<!-- Font -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
		
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

		<!-- Some icons -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/js/bootstrap.min.js"></script>
	    
	    <!-- Manual Scripts -->
		<script src="/helpers/autocompleter.js"></script>
		<script type="text/javascript" src="/../js/main.js"></script>

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid" >
				<div class="row" >
					<div id="top-left" class="col-md-3">
						<h1><a class="navbar-brand" href="/">Social Network</a></h1>
						<a href="/messages"><span class="glyphicon glyphicon-inbox"></span></a>
						<a href="/ble" id="profile-link"><span class="glyphicon glyphicon-user"></span></a>							
					</div>
					<div id="top-center" class="col-md-6">
						<div id="top-search" style="top: 10px; position: relative;"></div>
					</div>	
					<div id="top-right" class="col-md-3" style="text-align:right;">
						<div style="top: 10px; position: relative">
							<a href="/settings"><span class="glyphicon glyphicon-cog"></span></a>
							<a href="/logout"><span class="glyphicon glyphicon-off"></span></a>
							<img src="http://i.imgur.com/r8R1C6B.png" width="30" height="30" id="photo-top">
						</div>
						<div class="clearfix"></div>
					</div>
					

				</div>
			</div>
		</div>
		<div class="container-fluid" style="margin-top: 70px;">
			<div class="row">
				<div class="col-lg-2 col-md-1"></div>
				<div class="col-lg-8 col-md-10 main">
					<div id="content">{{{content}}}</div>
				</div>
				<div class="col-lg-2 col-md-1"></div>
			</div>
		</div>
	</body>
</html>

