<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="black-top">
			<div class="center">
				<div class="one-col">
					<h1 class="float-left">Social Network</h1>
					<div id="right-box">Logout</div>
				</div>
			</div>
		</div>
		<div class="center">
			<div class="one-col">
				<div id="main">
					<div id="col1">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/friends">Friends</a></li>
							<li><a href="/login">Login</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>
					<div id="col2">
						<div id="content">
							{{{content}}}
						</div>
					</div>
				</div>
				<div id="footer">
				This Website is the  coursework for one of the modules at UCL Computer Science Department.
				</div>
			</div>
		</div>
	</body>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script>
		$( document ).ready(function() {
			// Main page JS here
			content();
		});
	</script>
</html>

