<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

		<!-- Some icons -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/js/bootstrap.min.js"></script>
	    
	    <!-- Manual Scripts -->
		<script type="text/javascript" src="/../js/main.js"></script>

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Social Network</a>
				</div>
			</div>
		</div>
		<div class="container-fluid" style="margin-top: 70px;">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/friends">Friends</a></li>
						<li><a href="/photos">Photos</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-md-10 main">
					<div id="content">{{{content}}}</div>
				</div>
			</div>
		</div>
	</body>
</html>

