<!-- Based on: http://bootsnipp.com/snippets/featured/chat !-->
<link href="css/messages.css" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="btn-panel btn-panel-conversation">
          <div class="btn-group">
            <a href="#" class="btn send-message-btn" data-toggle="dropdown" id="message-user">Message <b class="caret"></b></a>
            <ul class="dropdown-menu pull-left" style="padding: 15px;min-width: 500px;">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <form class="form" role="form" method="post" accept-charset="UTF-8" id="new-message-form">
                      <div class="form-group" id="form-group-to">
                        <div id="search-username"></div>
                        <script src="/helpers/autocompleter.js"></script>
                        <script>easyIncludeAutoComplete("search-username");</script>
                        <label class="control-label" for="to" id="control-label-to" hidden></label>
                      </div>
                      <div class="form-group">
                        <textarea class="form-control send-message" rows="3" placeholder="Write a reply..." id="new-message" required></textarea>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn send-message-btn btn-block">Send</button>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <a href="#" class="btn send-message-btn btn-block" data-toggle="dropdown" id="message-circles">Message Circles<b class="caret"></b></a>
            <ul class="dropdown-menu pull-left" style="padding: 15px;min-width: 500px;">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <form class="form" role="form" method="post" accept-charset="UTF-8" id="new-message-circles-form">
                      <div class="form-group" id="form-group-to-circles">
                        <input type="text" class="form-control" id="to-circles" placeholder="Name of Circle" required>
                        <label class="control-label" for="to" id="control-label-to-circles" hidden></label>
                      </div>
                      <div class="form-group">
                        <textarea class="form-control send-message" rows="3" placeholder="Write a reply..." id="new-message-circles" required></textarea>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn send-message-btn btn-block">Send</button>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" id="search-reciepients-text">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="search-reciepients"><span class="glyphicon glyphicon-search"></span></button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="cancel-reciepients"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="conversation-wrap col-lg-12" id="conversations">
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="message-wrap col-lg-12">
        <div class="msg-wrap" id="messages">
        </div>
        <div class="send-wrap ">
          <textarea class="form-control send-message" rows="3" placeholder="Write a reply..." id="message-text"></textarea>
        </div>
        <div class="pull-right btn-panel checkbox checkbox-custom" style="background-color: white; margin-right: 13px;">
          <input type="checkbox" class="checkbox-custom" id="send-on-enter" />
          <label for="send-on-enter" class="checkbox-custom">
            Press Enter to send
          </label>
        </div>
        
        <div class="btn-panel">
          <a href="#" class=" col-lg-4 text-right btn send-message-btn pull-right" role="button" id="send-message">
          <i class="fa fa-plus"></i> Send Message</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../js/messages.js"></script>