<!-- Based on: http://bootsnipp.com/snippets/featured/chat !-->

<link href="css/messages.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="btn-panel btn-panel-conversation">
                <a href="" class="btn  col-lg-6  send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> New Message</a>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="conversation-wrap col-lg-3" id="conversations">

        </div>

        <div class="message-wrap col-lg-8">
            <div id="messages">

            </div>

            <div class="send-wrap ">

                <textarea class="form-control send-message" rows="3" placeholder="Write a reply..."></textarea>
            </div>
            <div class="btn-panel">
                <a href="" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send Message</a>
            </div>
        </div>
    </div>
</div>

<script src="../js/messages.js"></script>