<!-- Based on: http://bootsnipp.com/snippets/featured/chat !-->

<link href="css/messages.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="btn-panel btn-panel-conversation">
                <div class="btn-group">
                    <div class="btn-group">
                    <a href="#" class="btn send-message-btn" data-toggle="dropdown" id="message-user">Message <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-left" style="padding: 15px;min-width: 500px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" accept-charset="UTF-8" id="new-message-form">
                                    <div class="form-group" id="form-group-to">
                                       <input type="text" class="form-control" id="to" placeholder="Username" required>
                                       <label class="control-label" for="to" id="control-label-to" hidden></label>
                                    </div>
                                    <div class="form-group">
                                       <textarea class="form-control send-message" rows="3" placeholder="Write a reply..." id="new-message"></textarea>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn send-message-btn btn-block">Send</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                 </div>
                 <div class="btn-group">
                    <a href="#" class="btn send-message-btn" data-toggle="dropdown" id="message-circles">Message to Circles<b class="caret"></b></a>
                    <ul class="dropdown-menu pull-left" style="padding: 15px;min-width: 500px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" accept-charset="UTF-8" id="new-message-circles-form">
                                    <div class="form-group" id="form-group-to-circles">
                                       <input type="text" class="form-control" id="to-circles" placeholder="Name of Circle" required>
                                       <label class="control-label" for="to" id="control-label-to-circles" hidden></label>
                                    </div>
                                    <div class="form-group">
                                       <textarea class="form-control send-message" rows="3" placeholder="Write a reply..." id="new-message-circles"></textarea>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn send-message-btn btn-block">Send</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="conversation-wrap col-lg-3" id="conversations">

        </div>

        <div class="message-wrap col-lg-8">
            <div class="msg-wrap" id="messages">

            </div>

            <div class="send-wrap ">

                <textarea class="form-control send-message" rows="3" placeholder="Write a reply..." id="message-text"></textarea>
            </div>
            <div class="btn-panel">
                <a href="#" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button" id="send-message">
                    <i class="fa fa-plus"></i> Send Message</a>
            </div>
        </div>
    </div>
</div>

<script src="../js/messages.js"></script>