<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href="/libs/summernote/summernote.css" rel="stylesheet"/>
<script src="/libs/summernote/summernote.min.js"></script>
<script type="text/javascript" src="/js/newpost.js"></script>
<div class="containter-fluid col-md-12">
    <h1 class="blog-title">Create New Post</h1>
    <div id="error-unknown">
    </div>
    <form role="form">
        <div class="form-group" id="form-group-title">
            <label for="post-title">Title</label>
            <input type="text" class="form-control" id="post-title" placeholder="Title">
            <label class="control-label" for="post-title" id="control-label-title" hidden></label>
        </div>
        <div class="form-group">
            <label>Content</label>
            <div id="summernote"></div>
        </div>
        <button class="btn btn-success pull-right" type="submit" id="submit-btn">
        <span class="glyphicon glyphicon-ok"></span> Submit
        </button>
        <button class="btn btn-danger pull-right" id="cancel-btn">
        <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
    </form>
</div>