<link rel="stylesheet" type="text/css" href="/css/blog.css">
<script src="/js/blog_helper.js"></script>
<script src="/js/blogpost.js"></script>
<div class="container">
  <div class="row">
    <div id="error-unknown">
    </div>
    <div class="col-md-6 blog-header">
      <h1 class="blog-title" id="blog-title">
      <a id="blog-title-link">
      </a>
      </h1>
      <p class="lead blog-description" id="blog-description"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div id="blog-body">
      </div>
    </div>
  </div>
</div>