<style>
.form-horizontal .control-label{
    text-align:left;
}
</style>
<script src="/js/register.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div id="error-unknown">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 well">
            <div id="error-login">
            </div>
            <h3> Login </h3>
            <div class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="login-username">Username</label>
                    <input type="email" class="form-control" id="login-username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
                <button type="button" class="btn btn-success" id="sign-in-btn">Sign in</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 well">
            <h3> Register </h3>
            <div class="form-horizontal">
                <div class="form-group" id="form-group-firstname">
                    <label for="firstname" class="col-md-2 control-label">First Name: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="firstname" required>
                        <label class="control-label" for="firstname" id="firstname-error" hidden></label>
                    </div>
                </div>
                <div class="form-group" id="form-group-middlename">
                    <label for="middlename" class="col-md-2 control-label" style="font-weight:normal;">Middle Name: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="middlename">
                        <label class="control-label" for="middlename" id="middlename-error" hidden></label>
                    </div>
                </div>
                <div class="form-group" id="form-group-lastname">
                    <label for="lastname" class="col-md-2 control-label">Last Name: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="lastname" required>
                        <label class="control-label" for="lastname" id="lastname-error" hidden></label>
                    </div>
                </div>
                <div class="form-group" id="form-group-username">
                    <label for="username" class="col-md-2 control-label">Username: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="username" required>
                        <label class="control-label" for="username" id="username-error" hidden></label>
                    </div>
                </div>
                <div class="form-group" id="form-group-password">
                    <label for="password" class="col-md-2 control-label">Password: </label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="password" required>
                        <label class="control-label" for="password" id="password-error" hidden></label>
                    </div>
                </div>
                <div class="form-group" id="form-group-password-retype">
                    <label for="password-retype" class="col-md-2 control-label">Retype Password: </label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="password-retype" required>
                        <label class="control-label" for="password-retype" id="password-retype-error" hidden></label>
                    </div>
                </div>
                <div class="form-group" id="form-group-email">
                    <label for="email" class="col-md-2 control-label">E-Mail: </label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="email" required>
                        <label class="control-label" for="email" id="email-error" hidden></label>
                    </div>
                </div>
                <div class="form-group" id="form-group-email-retype">
                    <label for="email-retype" class="col-md-2 control-label">Retype E-Mail: </label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="email-retype" required>
                        <label class="control-label" for="email-retype" id="email-retype-error" hidden></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-12">
                        <button type="button" class="btn btn-success pull-right" id="submit-btn"><span class="glyphicon glyphicon-ok"></span> Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>