<link rel="stylesheet" type="text/css" href="/css/settings.css">
<script src="/js/settings.js"></script>

<div class="container">
    <div id="error-unknown">

    </div>
    <table class="table table-condensed table-responsive table-user-information">
        <tbody>
        <tr>
            <td><h4>Username:</h4></td>
            <td id="username">
                <h4>Username</h4>
            </td>
            <td id="username-edit" hidden>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="new-username" class="col-sm-4 control-label">Username: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-username" placeholder="Enter username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password-username" class="col-sm-4 control-label">Enter Password to Confirm: </label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password-username" placeholder="Enter password">
                        </div>
                    </div>
                </div>
            </td>
            <td id="username-edit-btn"><button type="button" class="btn btn-default">Edit</button></td>
            <td id="username-submit-btn" hidden><button type="button" class="btn btn-default">Submit</button></td>
        </tr>
        <tr>
            <td><h4>Password:</h4></td>
            <td id="password"><h4> ******* </h4></td>
            <td id="password-edit" hidden>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="password-password" class="col-sm-4 control-label">Current Password: </label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password-password" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-password" class="col-sm-4 control-label">New Password: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-password" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-password-retype" class="col-sm-4 control-label">Retype New Password: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-password-retype" placeholder="Enter password">
                        </div>
                    </div>
                </div>
            </td>
            <td id="password-edit-btn"><button type="button" class="btn btn-default">Edit</button></td>
            <td id="password-submit-btn" hidden><button type="button" class="btn btn-default">Submit</button></td>
        </tr>
        <tr>
            <td><h4>E-mail</h4></td>
            <td id="email"><h4> Old e-mail </h4></td>
            <td id="email-edit" hidden>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="new-email" class="col-sm-4 control-label">E-mail: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-email" placeholder="Enter E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-email" class="col-sm-4 control-label">Re-type E-mail: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-email-retype" placeholder="Enter E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password-email" class="col-sm-4 control-label">Enter Password to Confirm: </label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password-email" placeholder="Enter password">
                        </div>
                    </div>
                </div>
            </td>
            <td id="email-edit-btn"><button type="button" class="btn btn-default">Edit</button></td>
            <td id="email-submit-btn" hidden><button type="button" class="btn btn-default">Submit</button></td>
        </tr>
        </tbody>
    </table>
</div>