<div class="containter col-md-12">
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand">{{username}}</p>
        </div>    
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{timeline}}"><a href="/user/{{username}}"><i class="fa fa-archive"></i> Timeline</a></li>
                <li class="divider-vertical"></li>
                <li class="{{profile}}"> <a href="/user/{{username}}/profile"><i class="fa fa-info-circle"></i> About</a></li>
                <li class="divider-vertical"></li>
                <li class="{{friends}}"><a href="/user/{{username}}/friends"><i class="fa fa-users"></i> Friends</a></li>
                <li class="divider-vertical"></li>
                <li class="{{blog}}"><a href="/user/{{username}}/blogs"><i class="fa fa-file-text-o"></i> Blogs</a></li>
                <li class="divider-vertical"></li>
                <li class="{{photos}}"><a href="/user/{{username}}/photos"><i class="fa fa-camera"></i> Photos</a></li>
                <li class="divider-vertical"></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.navbar-inner -->
</div>
<!--/.navbar -->

{{{content}}}
</div>