<link rel="stylesheet" type="text/css" href="/css/userblogs.css">
<script src="/js/userblogs.js"></script>

<div class="container col-md-12">
    <div class="row" id="blog-list">
{{!         <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            Bootsnipp <a href="http://bootsnipp.com/" target="_blank"><span class="glyphicon glyphicon-new-window">
                            </span></a>
                        </h2>
                        <p>
                            Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            jQuery2DotNet <a href="http://www.jquery2dotnet.com/" target="_blank"><span class="glyphicon glyphicon-new-window">
                            </span></a>
                        </h2>
                        <p>
                            Cool jQuery, CSS3,HTML5, MVC and C#  tutorials with examples</p>
                    </div>
                </div>
            </div>
        </div> }}
    </div>
</div>