body {
	margin: 0;
	padding: 0;
	text-align: center;
}
#center {
	text-align: left;
	background-color: red;
	padding: 0;
	margin: 0 auto;
	width: 800px;
	
}
#header {
	min-height: 50px;
	background: green;
}
#menu {
	float: left;
	background: blue;
	width: 200px;
	min-height: 100px;
}
#content {
	float: left;
	background: aqua;
	width: 600px;
	min-height: 100px;
}
#footer {
	min-height: 50px;
	background: grey;
	clear: both;
}