body{padding-top:30px;}

.glyphicon {  /*margin-bottom: 10px;*/margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.form-horizontal .control-label{
/* text-align:right; */
text-align:left;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}